<p id="notice"><%= notice %></p>

<h1>実験アプリ</h1>

<br>

<h2>やったこと</h2>

<ul>
  <li>コンフリクト</li>
  <li>バリデーションエラーで生成されるclassのcssを変更</li>
  <li>一度マージしたブランチに再度コミットをプッシュしたらどうなるか</li>
  <li>GitHub Desktopを試しに使った</li>
</ul>

<br>

<h2>以下はアプリの機能</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.content %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Productを作成する', new_product_path %>

bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
