<!-- <% @title = '実験アプリ' %> -->
<% provide :title, "実験アプリ" %>

<div class="products-index-wrapper">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sample2</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarEexample1">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "#{current_user.id}さん", '#' %></li>
            <li><%= link_to 'アカウント情報を変更', edit_user_registration_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'ログイン・サインアップ', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <div class="jumbotron-section">
    <div class="jumbotron jumbotron-main">
    </div>
  </div>


  <div class="application-title section-interval">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @title %></h1>
        </div>
      </div>
    </div>
  </div>


  <div class="application-record section-interval section-position">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>やったこと</h2>
          <p>GitHubのWikiに書いてあります</p>
        </div>
      </div>
    </div>
  </div>


  <div class="application-function section-interval section-position">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>ScaffoldでProductの作成機能を追加した</h2>
          <table class="table-products">
            <thead>
              <tr>
                <th>User</th>
                <th>Name</th>
                <th>Url</th>
                <th>Url</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>PictureUrl</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
              <tr>
                <td><%= product.user_id %></td>
                <td><%= product.name %></td>
                <td><%= product.site_url %></td>
                <td class="btn btn-info"><%= link_to '続きを見る', "#{product.site_url}", target: 'blank' %></td>
                <td><%= product.title %></td>
                <td><%= product.content %></td>
                <td><%= image_tag product.image %></td>
                <% if product.picture_url == nil %>
                  <td> <%= image_tag 'no_image.png', class: 'picture-display' %> </td>
                <% else %>
                  <td><%= image_tag product.picture_url, class: 'picture-display' %></td>
                <% end %>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'Productを作成する', new_product_path, class: "btn btn-primary btn-application-function" %>
        </div>
      </div>
    </div>
  </div>


  <div class="application-access-map section-interval section-position">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>地図を中央寄せで埋め込んでみた</h2>
        </div>
        <div class="row">
          <div class="access-map-wrapper">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="access-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205729.03185242313!2d137.10546131074352!3d36.324039223289645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff80862ab1514a5%3A0x767c6bf151a56733!2z5bKQ6Zic55yM6aOb6aio5biC!5e0!3m2!1sja!2sjp!4v1479023235498" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex-section section-interval section-position">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Flexboxを使ってみた-1</h2>
          <div class="flex-sample">
            <div class="flex-item item1"></div>
            <div class="flex-item item2"></div>
            <div class="flex-item item3"></div>
          </div>
          <h2>Flexboxを使ってみた-2</h2>
          <div class="flex-sample">
            <div>
              <%= image_tag 'flex-sample.png', class: 'flex-image' %>
            </div>
            <div class="between-block"></div>
            <div>
              <%= image_tag 'flex-sample.png', class: 'flex-image' %>
            </div>
          </div>
          <h2>Flexboxを使ってみた-3</h2>
          <div class="flex-sample">
            <div>
              <%= image_tag 'flex-sample.png', class: 'flex-image' %>
            </div>
            <div class="red-box-block">
              <div class="red-box">
              </div>
            </div>
            <div>
              <%= image_tag 'flex-sample.png', class: 'flex-image' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Flexboxを使ってみた-4</h2>
    </div>
    <div class="tel-section">
      <div class="row">
        <div class="col-md-12">
          <div class="tel-section-flex">
            <p>導入でご不明な点はお気軽にお電話ください</p>
            <p class="text-tel">00-0000-0000</p>
            <p>受付時間 09:00 ~ 17:00（土・日・祝を除きます）</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="switch-button-section section-interval section-position">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>ボタンをクリックしたら表示が切り替わる</h2>
          <div class="btn-block">
            <div class="btn btn-primary" id="btn-switch-before">
              <span>Beforeを見る</span>
            </div>
            <div class="btn btn-primary" id="btn-switch-after">
              <span>Afterを見る</span>
            </div>
            <div class="btn btn-primary" id="btn-switch-none">
              <span>何も表示しない</span>
            </div>
          </div>
          <div class="img-block">
            <%= image_tag 'before.png', class: 'img-before' %>
            <%= image_tag 'after.png', class: 'img-after' %>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="withdrawal-section section-interval section-position">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>退会用のアンケート</h2>
              <%= link_to 'アンケートに回答する', new_withdrawal_path, class: "btn btn-primary btn-application-function" %>
          </div>
        </div>
      </div>
    </div>


    <div class="click-order-section section-interval section-position">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>クリックされた順番で順位をつける</h2>
            <div class="btn-block">
              <div class="btn btn-primary click-order first second third unclicked" id="first">
                <span>ミスチル</span>
              </div>
              <div class="btn btn-primary click-order first second third unclicked"  id="second">
                <span>アジカン</span>
              </div>
              <div class="btn btn-primary click-order first second third unclicked" id="third">
                <span>リップスライム</span>
              </div>
              <div class="btn btn-warning redo">
                <span>やり直す</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="confirm-click-event-section section-interval section-position">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>removeClassを実行後のclickイベントの挙動について確認</h2>
            <% 8.times.each do |num| %>
              <div class="btn-block" id="block-<%= num + 1 %>">
                <h3><%= num + 1 %>ブロック</h3>
                  <div class="btn btn-primary one two three" id="q<%= 1 + ( 3 * num) %>">
                    <span>ボタンA</span>
                  </div>
                  <div class="btn btn-primary one two three" id="q<%= 2 + ( 3 * num) %>">
                    <span>ボタンB</span>
                  </div>
                  <div class="btn btn-primary one two three" id="q<%= 3 + ( 3 * num) %>">
                    <span>ボタンC</span>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


   <div class="js-practice-section section-interval section-position">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h2>「jQuery入門道場」の記述を試してみる-1</h2>
           <h3>イベント移譲</h3>
           <ul>
             <li>一郎</li>
             <li>二郎</li>
             <li>三郎</li>
           </ul>
         </div>
       </div>
     </div>
   </div>


    <div class="js-practice-section section-interval section-position">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h2>「jQuery入門道場」の記述を試してみる-2</h2>
           <h3>dataをjsで指定</h3>
           <form>
             <input type="button" id="taro" value="TARO">
             <input type="button" id="jiro" value="JIRO">
           </form>
           <h3>dataをhtmlで指定</h3>
           <form>
             <input type="button" id="sabrou" value="SABUROU" data-name="三郎" data-birth="東京">
             <input type="button" id="shirou" value="SHIROU" data-name="四郎" data-birth="埼玉">
           </form>
           <h3>dataを受け渡す</h3>
           <form>
             <input type="button" id="gorou" data-myname="五朗" value="GOROU">
           </form>
         </div>
       </div>
     </div>
    </div>


</div>
