<!DOCTYPE html>
<html>
<head>
  <!-- <title><%= document_title %></title> -->
  <title><%= yield :title %> | Sample2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:description" content="popmacの実験アプリです">
  <meta property="og:image" content="https://afternoon-coast-74109.herokuapp.com<%= asset_path "img_for_SNS.png" %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Sample2">
  <meta name="twitter:description" content="popmacの実験アプリです">
  <meta name="twitter:image" content="https://afternoon-coast-74109.herokuapp.com<%= asset_path "img_for_SNS.png" %>">
</head>
<body>

<%= yield %>

</body>
</html>
