<!DOCTYPE html>
<html>
<head>
  <!-- <title><%= document_title %></title> -->
  <title><%= yield :title %> | Sample2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="https://afternoon-coast-74109.herokuapp.com//assets/img_for_SNS.png" property="og:image" />
</head>
<body>

<%= yield %>

</body>
</html>
